# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.CopyComplete
*.cache
*.pdb

#c sharp
Jinaz_ServerScripts/.vs/
Jinaz_ServerScripts/packages/
Jinaz_ServerScripts/CharacterInterface/obj/
Jinaz_ServerScripts/CharacterInterfaceServer/obj/
Jinaz_ServerScripts/ConsoleCommands/obj/
Jinaz_ServerScripts/ConsoleCommandsServer/obj/
Jinaz_ServerScripts/FuelSystem/bin/
Jinaz_ServerScripts/FuelSystem/obj/
Jinaz_ServerScripts/FuelSystemServer/obj/
Jinaz_ServerScripts/garagescript/bin/
Jinaz_ServerScripts/garagescript/obj/
Jinaz_ServerScripts/garagescriptserver/obj/
Jinaz_ServerScripts/lscustoms/obj/
Jinaz_ServerScripts/lscustomsserver/obj/
*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
/Jinaz_ServerScripts/loginscript/obj/Debug
/Jinaz_ServerScripts/loginscriptserver/obj/Debug
/Jinaz_ServerScripts/loginscriptserver/bin/Debug
/Jinaz_ServerScripts/CharacterInterface/bin/Debug
/Jinaz_ServerScripts/loginscript/bin/Debug
/Jinaz_ServerScripts/ClothesShop/bin/Debug
/Jinaz_ServerScripts/ClothesShop/obj/Debug
/Jinaz_ServerScripts/characterUI/obj/Debug
